= form_for(@artform) do |f|
  - if @artform.errors.any?
    #error_explanation
      %h2
        = pluralize(@artform.errors.count, "error")
        prohibited this artform from being saved:
      %ul
        - @artform.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
