= form_for(@artpiece) do |f|
  - if @artpiece.errors.any?
    #error_explanation
      %h2
        = pluralize(@artpiece.errors.count, "error")
        prohibited this artpiece from being saved:
      %ul
        - @artpiece.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
