/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*, p, div {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
}

.hide {
  display: none;
}

// MIXIN FONTS
@mixin airbag {
  @font-face {
  font-family: 'Airbag';
  font-weight: normal;
  src: url("/Airbag-Regular.otf") format("opentype");
  }
}

@mixin aleo {
  @font-face {
  font-family: 'Aleo';
  font-weight: normal;
  src: url("/Aleo-Regular.otf") format("opentype");
  }
}
@mixin aleo-light {
  @font-face {
  font-family: 'Aleo';
  font-weight: light;
  src: url("/Aleo-Light.otf") format("opentype");
  }
}
@mixin aleo-bold {
  @font-face {
  font-family: 'Aleo';
  font-weight: bold;
  src: url("/Aleo-Bold.otf") format("opentype");
  }
}
@mixin blanch-caps {
  @font-face {
  font-family: 'Blanch Caps';
  font-weight: normal;
  src: url("/BLANCH_CAPS.otf") format("opentype");
  }
}

@mixin blanch-caps-light {
  @font-face {
  font-family: 'Blanch Caps';
  font-weight: light;
  src: url("/BLANCH_CAPS_LIGHT.otf") format("opentype");
  }
}
@mixin blanch-cond {
  @font-face {
  font-family: 'Blanch Condensed';
  font-weight: normal;
  src: url("/BLANCH_CONDENSED.otf") format("opentype");
  }
}
@mixin blanch-cond-light {
  @font-face {
  font-family: 'Blanch Condensed';
  font-weight: light;
  src: url("/BLANCH_CONDENSED_LIGHT.otf") format("opentype");
  }
}

@mixin canter-bold {
  @font-face {
  font-family: 'Canter Bold';
  font-weight: bold;
  src: url("/canter_bold.otf") format("opentype");
  }
}
@mixin canter-bold-3d {
  @font-face {
  font-family: 'Canter Bold 3D';
  font-weight: normal;
  src: url("/canter_bold_3d.otf") format("opentype");
  }
}
@mixin canter-bold-shadow {
  @font-face {
  font-family: 'Canter Bold Shadow';
  font-weight: normal;
  src: url("/canter_bold_shadow.otf") format("opentype");
  }
}
@mixin canter-bold-stripes {
  @font-face {
  font-family: 'Canter Bold Stripes';
  font-weight: normal;
  src: url("/canter_bold_stripes.otf") format("opentype");
  }
}
@mixin canter-light {
  @font-face {
  font-family: 'Canter Light';
  font-weight: normal;
  src: url("/canter_bold_light.otf") format("opentype");
  }
}
@mixin canter-outline {
  @font-face {
  font-family: 'Canter Outline';
  font-weight: normal;
  src: url("/canter_bold_outline.otf") format("opentype");
  }
}
@mixin flagship-slab {
  @font-face {
  font-family: 'Flagship Slab';
  font-weight: normal;
  src: url("/flagship_slab_regular.otf") format("opentype");
  }
}
@mixin flagship-slab-bold {
  @font-face {
  font-family: 'Flagship Slab';
  font-weight: bold;
  src: url("/flagship_slab_bold.otf") format("opentype");
  }
}


//  MIXIN COLORS
@mixin shori-red {color: #C12926;}
@mixin shori-peach {color: #FF9F8E;}
@mixin shori-neutral-dark {color: #C3A995;}
@mixin shori-neutral-light {color: #E8DACE;}
@mixin shori-mint {color: #EFF8E2;}
@mixin shori-text {color: #2A2A30;}

// MIXIN STYLES
@mixin no-deco {
  text-decoration: none;
  list-style-type: none;
}
@mixin no-space {
  margin: 0px;
  padding: 0px;
}


