#artpiece-page-info {
  margin: 0 auto;
  padding-top: 30px;
  
  #artpiece-wrapper {
    position: fixed;
    left: 150px;
  }
  #artpiece-text-wrapper {
    display: inline-block;
    float: right;
    margin-right: 150px;
    padding: 10px;
    text-align: right;
  }
}



