.dashboard-new-user-feed {
  margin-left: 10%;
  margin-right: 10%;
  border:1px black solid;
  .dashboard-new-user{
    width: 20%;
    border: 1px black solid;
  }
}

.dashboard-user-info {
  margin-left: 10%;
  margin-right: 10%;
  border:1px black solid;
}

.dashboard-user-followings {
  margin-left: 10%;
  margin-right: 10%;
  border:1px black solid;
}