// Place all the styles related to the Artpieces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.gallery-container {
  display: inline-block;
  margin: 10px;
  width: 30%;
  overflow:hidden;
  ul, li {
    list-style-type: none;
    text-decoration: none;
  }

  .gallery-item {
    border: 2px black solid;
  }

}