html {
  height: 100%;
}

.home {
  height: 100%;
  width: 100%;
  .container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    img {
      width: 50%;
      height: 100%;
      float: left;
      margin: 0;
      padding: 0;
    }
    .intro {
      width: 50%;
      height: 100%;
      border: 2px black solid;
      float: right;
    }
    .blur {
      -webkit-filter: blur(10px);
              filter: blur(10px);
    }
  }
}