html {
  height: 100%;
}

.home {
  height: 100%;
  width: 100%;
  font-size: 0px;
  .container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    font-size: 0px;
    img {
      width: 50%;
      height: 100%;
      float: left;
      margin: 0;
      padding: 0;
    }
    .intro {
      width: 50%;
      height: 100%;
      border: 2px black solid;
      float: right;
    }
    .blur {
      -webkit-filter: blur(10px);
              filter: blur(10px);
    }
    #logo {
      background-color:red;
      position: fixed;
      width: 30%;
      margin-top: 30px;
      clear: both;
      left: 50%;
      margin-left: -15%; /* Half of the width */
    }
  }
}
