md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 400px !important;
    width: 85vw !important;
    max-width: 800px !important;
} 

.profile-wrapper {
  text-align: center;
  margin: 0 auto;
  @include aleo-light;
  color: $shori-text;
  width: 60%;

  #profile-title {
    @include canter-bold-3d;
    font-size: 75px;
    color: $shori-red;
    margin: 0px;
    padding-top: 30px;
  }

  #profile-role {
    @include blanch-caps;
    font-size: 55px;
    line-height: 0.8;
  }

  #profile-bio {
    @include aleo-light;
    font-size: 30px;
  }

  #profile-link {
    @include canter-bold-3d;
    font-size: 55px;
    color: $shori-peach;
    margin: 0px;
  }
  a {
    text-decoration: none;
    color: $shori-peach; 
  }
  a:hover {
    color: $shori-mint;
  }
}