
// FONT FACES
@font-face {
  font-family: 'Airbag';
  font-weight: normal;
  src: font-url("Airbag-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'Aleo';
  font-weight: normal;
  src: font-url("Aleo-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'Aleo';
  font-weight: light;
  src: font-url("Aleo-Light.otf") format("opentype");
}
@font-face {
  font-family: 'Aleo';
  font-weight: bold;
  src: font-url("Aleo-Bold.otf") format("opentype");
}
@font-face {
  font-family: 'Blanch Caps';
  font-weight: normal;
  src: font-url("BLANCH_CAPS.otf") format("opentype");
}

@font-face {
  font-family: 'Blanch Caps';
  font-weight: light;
  src: font-url("BLANCH_CAPS_LIGHT.otf") format("opentype");
}
@font-face {
  font-family: 'Blanch Condensed';
  font-weight: normal;
  src: font-url("BLANCH_CONDENSED.otf") format("opentype");
}
@font-face {
  font-family: 'Blanch Condensed';
  font-weight: light;
  src: font-url("BLANCH_CONDENSED_LIGHT.otf") format("opentype");
}

@font-face {
  font-family: 'Canter Bold';
  font-weight: bold;
  src: font-url("canter_bold.otf") format("opentype");
}
@font-face {
  font-family: 'Canter Bold 3D';
  font-weight: normal;
  src: font-url("canter_bold_3d.otf") format("opentype");
}

@font-face {
  font-family: 'Canter Bold Shadow';
  font-weight: normal;
  src: font-url("canter_bold_shadow.otf") format("opentype");
}
@font-face {
  font-family: 'Canter Bold Stripes';
  font-weight: normal;
  src: font-url("canter_bold_stripes.otf") format("opentype");
}
@font-face {
  font-family: 'Canter Light';
  font-weight: normal;
  src: font-url("canter_bold_light.otf") format("opentype");
}

@font-face {
  font-family: 'Canter Outline';
  font-weight: normal;
  src: font-url("canter_outline.otf") format("opentype");
}
@font-face {
  font-family: 'Flagship Slab';
  font-weight: normal;
  src: font-url("flagship_slab_regular.otf") format("opentype");
}
@font-face {
  font-family: 'Flagship Slab';
  font-weight: bold;
  src: font-url("flagship_slab_bold.otf") format("opentype");
}

// MIXIN FONTS
@mixin airbag {font-family: 'Airbag';}
@mixin aleo {font-family: 'Aleo';}
@mixin aleo-light {font-family: 'Aleo'; font-weight: light;}
@mixin aleo-bold {font-family: 'Aleo'; font-weight: bold;}
@mixin blanch-caps {  font-family: 'Blanch Caps';}
@mixin blanch-caps-light {font-family: 'Blanch Caps'; font-weight: light;}
@mixin blanch-cond {  font-family: 'Blanch Condensed';}
@mixin blanch-cond-light {font-family: 'Blanch Condensed';font-weight: light;}
@mixin canter-bold {font-family: 'Canter Bold'; font-weight: bold;}
@mixin canter-bold-3d {font-family: 'Canter Bold 3D';}
@mixin canter-bold-shadow {  font-family: 'Canter Bold Shadow';}
@mixin canter-bold-stripes {  font-family: 'Canter Bold Stripes';}
@mixin canter-light {font-family: 'Canter Light';}
@mixin canter-outline {font-family: 'Canter Outline';}
@mixin flagship-slab {font-family: 'Flagship Slab';}
@mixin flagship-slab-bold {font-family: 'Flagship Slab';font-weight: bold;}


//  MIXIN COLORS
@mixin shori-red {color: #C12926;}
@mixin shori-peach {color: #FF9F8E;}
@mixin shori-neutral-dark {color: #C3A995;}
@mixin shori-neutral-light {color: #E8DACE;}
@mixin shori-mint {color: #90CDBD;}
@mixin shori-text {color: #2A2A30;}

$shori-red: #C12926;
$shori-peach: #FFB9AD;
$shori-neutral-dark: #C3A995;
$shori-neutral-light: #E8DACE;
$shori-mint: #90CDBD;
$shori-text: #2A2A30;

// MIXIN STYLES
@mixin no-deco {
  text-decoration: none;
  list-style-type: none;
}
@mixin no-space {
  margin: 0px;
  padding: 0px;
}

@mixin center {
  text-align: center;
  display: 0 auto;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

*{
  font-family: 'Roboto Slab';

  p, div {
    font-size: 16px;
  }

  h1 {
    @include canter-bold-3d;
    font-size: 70px;
  }
}

.hide {
  display: none;
}