<div id="artpiece-page-info">
  <div id="artpiece-wrapper">
    <img-wit ng-src="{{selectedArtpiece.image | trusted}}" w="500"></img-wit></br>
  </div>
  <div id="artpiece-text-wrapper">
    <div id="artpiece-title">{{selectedArtpiece.name}}</div>
    <div class="qrcode">
      <qrcode data="http://localhost:3000/shori/artpiece/{{selectedArtpiece.id}}" href="http://localhost:3000/shori/artpiece/{{selectedArtpiece.id}}" size='100'></qrcode>
    </div>
    <p>{{selectedArtpiece.price | currency:'£'}}</p>
    <p>Width: {{selectedArtpiece.width}} inches</p>
    <p>Height: {{selectedArtpiece.height}} inches</p>
    <p>Depth: {{selectedArtpiece.depth}} inches</p>
    <p>Circumference: {{selectedArtpiece.circumference}} inches</p>
    <p>{{selectedArtpiece.description}}</p>
    <p>{{selectedArtpieceQrImg}}</p>
  </div>
</div>

<!-- <button ng-click="printDiv('print-section')"><i class="fa fa-print"></i> Print!</button> -->