<div class="print-section">
<div id="artpiece-page-info">
  <div id="artpiece-wrapper">
    <img-wit ng-src="{{selectedArtpiece.image | trusted}}" w="500"></img-wit></br>
  </div>
  <div id="artpiece-text-wrapper">
    <div id="artpiece-title">{{selectedArtpiece.name}}</div>
    <div class="qrcode">
      <qrcode data="http://localhost:3000/shori/artpiece/{{selectedArtpiece.id}}" href="http://localhost:3000/shori/artpiece/{{selectedArtpiece.id}}" size='100'></qrcode>
    </div>
    <p>{{selectedArtpiece.price | currency:'£'}}</p>
    <p>{{selectedArtpiece.status}}</p>
    <p>Width: {{selectedArtpiece.width}} inches</p>
    <p>Height: {{selectedArtpiece.height}} inches</p>
    <p>Depth: {{selectedArtpiece.depth}} inches</p>
    <p>Circumference: {{selectedArtpiece.circumference}} inches</p>
    <p>{{selectedArtpiece.description}}</p>
    <p>{{selectedArtpieceQrImg}}</p>
  </div>
</div>
</div>


<div class="stripe-payment" ng-if="{{selectedArtpiece.status}} === 'available'">
  <form action={{artpiecePaymentRoute}} method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_LnWTbe63zonC0wcLaycQNwtJ"
      data-image="{{selectedArtpiece.image | trusted}}"
      data-name="{{selectedArtpiece.name}}"
      data-description="{{selectedArtpiece.description}}"
      data-currency="gbp"
      data-amount="{{selectedArtpiece.price * 100}}"
    </script>
  </form>
</div>
<!-- <button ng-click="printDiv('print-section')"><i class="fa fa-print"></i> Print!</button> -->