<h1>Angular Dashboard</h1>
<div class="user-info">
  <h2>Profile Details</h2>
  <p>Aloha, {{currentUser.first_name}} {{currentUser.last_name}}!</p>
  <p>Verified account: {{currentUser.verified}}</p>
  <p>Account type: {{currentUser.role | ucfirst}}</p>
  <p>{{currentUser.biography}}</p>
  <p>Address: {{currentUser.address}} {{currentUser.postcode}}</p>
</div>

<div class="user-matches">
  <h2>My Matches</h2>
</div>

<div class="user-pacts">
  <h2>My Pacts</h2>
</div>

<div class="new-user-feed">
  <h2>New User Feed</h2>
  <div ng-repeat="user in filteredArr | limitTo: 5">
    <p>{{user.first_name}}</p>
  </div>
</div>

<div class="user-gallery">
  <h2>My Gallery</h2>
  <p ng-repeat="artpiece in artpieces">
    Artpiece Name: {{artpiece.name}}
  </p>
</div>