<div class="home">
  <div class="scroll-to-top hide"><i class="fa fa-angle-double-up fa-2x"></i></div>
  <div class="container snap-window landing-container">
    <p id="logo">SHORI</p>
    <div class="sign-in-container">
      <i class="sign-in-icon fa fa-hand-o-right"></i>
      <div class="sign-in">LOG IN</div>
    </div>
    <div class="sign-up-container">
      <i class="sign-up-icon fa fa-user-plus"></i>
      <div class="sign-up">SIGN IN</div>
    </div>
    <div class="icon-container">
      <a href="#section-1" class="hvr-float" id="section-1-icon"><i class="fa fa-5x fa-file-image-o"></i>ART</a>
      <a href="#section-2" class="hvr-float" id="section-2-icon"><i class="fa fa-5x fa-coffee"></i>SPACE</a>
      <a href="#section-3" class="hvr-float" id="section-3-icon"><i class="fa fa-5x fa-filter"></i>FILTER</a>
      <a href="#section-4" class="hvr-float" id="section-4-icon"><i class="fa fa-5x fa-ticket"></i>PACT</a>
      <a href="#section-5" class="hvr-float" id="section-5-icon"><i class="fa fa-5x fa-credit-card"></i>EARN</a>
    </div>
    <div class="hvr-sink" id="arrow"><i class="fa fa-4x fa-rotate-180 fa-angle-up"></i></div>
  </div>

  <div class="container snap-window" id="section-1">
    <div class="left-panel">
      <img class="image-1" src="https://s3-eu-west-1.amazonaws.com/shori/front-end/wallspace.jpg"></img>
      <div class="overlay overlay-1">
        <p class="wow fadeIn">IS A SHOWCASE OF ART</p>
      </div>
    </div>
    <div class="intro">
      <p class="wow fadeIn"><i class="wow fadeInDown fa fa-4x fa-file-image-o"></i></br>Pinterest keffiyeh single-origin coffee Bushwick, banjo Etsy plaid fingersggings. Put a bird on it leggings cliche hoodie Pinterest, Pitchfork banh mi cray Helvetica selfies. Salvia tilde High Life biodiesel, swag direct trade heirloom artisan fap brunch McSweeney's mlkshk Helvetica. Freegan narwhal plaid pickled brunch photo booth. Literally Marfa Banksy heirloom kogi.</p>
    </div>
  </div>
  <div class="container snap-window" id="section-2">
    <div class="left-panel">
      <img class="image-2" src="https://s3-eu-west-1.amazonaws.com/shori/front-end/art1.jpg"></img>
      <div class="overlay overlay-2">
        <p class="wow fadeIn">IS BRINGING CHARACTER TO WALLSPACE</p>
      </div>
    </div>
    <div class="intro">
      <p class="wow fadeIn"><i class="wow fadeInDown fa fa-4x fa-coffee"></i></br>Brunch kale chips keffiyeh, farm-to-table Marfa quinoa freegan seitan authentic cray asymmetrical flexitarian photo booth typewriter cronut. Biodiesel XOXO lo-fi dreamcatcher keytar. Tofu chillwave dreamcatcher, Odd Future single-origin coffee narwhal Brooklyn hellaa bird on it meggings. Thundercats whatever hella Intelligentsia, vegan pour-over jean shorts umami. Biodiesel craft beer normcore lomo, four dollar toast asymmetrical irony health goth Blue Bottle Marfa iPhone Odd Future hoodie organic.</p>
    </div>
  </div>
  <div class="container snap-window" id="section-3">
    <div class="left-panel">
      <img class="image-3" src="https://s3-eu-west-1.amazonaws.com/shori/front-end/wallspace2.jpg"></img>
      <div class="overlay overlay-3">
        <p class="wow fadeIn">IS EXACTLY WHAT YOU WANT</p>
      </div>
    </div>
    <div class="intro">
      <p class="wow fadeIn"><i class="wow fadeInDown fa fa-4x fa-filter"></i></br>Fap lomo gluten-free pickled put a bird on it lo-fi four dollar toast, master cleanse hashtagts shabby chic. Health goth retro four loko, tofu direct trade Godard sustainable fap cred Williamsburg DIY. Slow-carb Echo Park locavore Austin, Tumblr Helvetica street art. Kickstarter twee fingerstache Marfa. Hashtag brunch flexitarian, twee mlkshk four loko banh mi readymade Pinterest locavore roof party normcore slow-carb keffiyeh.</p>
    </div>
  </div>
  <div class="container snap-window" id="section-4">
    <div class="left-panel">
      <img class="image-4" src="https://s3-eu-west-1.amazonaws.com/shori/front-end/art2.jpg"></img>
      <div class="overlay overlay-4">
        <p class="wow fadeIn">IS PAIRING THE RIGHT PEOPLE TOGETHER</p>
      </div>
    </div>
    <div class="intro">
      <p class="wow fadeIn"><i class="wow fadeInDown fa fa-4x fa-ticket"></i></br>Blog banjo vinyl, tousled authentic 3 wolf moon Bushwick High Life before they sold out Etsy single-origin coffee health goth ethical migas. Echo Park bitters deep v leggings, four dollar toast heirloom keffiyeh normcore art party shabby chic Pitchfork. Echo Park street arustin. Next level meditation gentrify gluten-free, literally migas tofu pour-over cardigan tote bag retro Tumblr Intelligentsia. Irony chia Blue Bottle Pitchfork actually cray listicle, Carles before they sold out trust fund.</p>
    </div>
  </div>
  <div class="container snap-window" id="section-5">
    <div class="left-panel">
      <img class="image-5" data-crossfade-end src="https://s3-eu-west-1.amazonaws.com/shori/front-end/people1.jpg"></img>
      <div class="overlay overlay-5">
        <p class="wow fadeIn">IS GIVING AND GETTING BACK</p>
      </div>
    </div>
    <div class="intro">
      <p class="wow fadeIn"><i class="wow fadeInDown fa fa-4x fa-credit-card"></i></br>Lumbersexual tote bag Brooklyn whatever tattooed pour-over, McSweeney's chia farm-to-table plaid pickled meggings cray kitsch. Meh hella craft beer sriracha lo-fi Vice. Farm-to-table raweggings typewriter, wolf mlkshk Brooklyn iPhone four dollar toast Vice kale chips keffiyeh PBR&B sriracha authentic.</p>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    // WOW
    new WOW().init();

    // Sign In Link
    $('.sign-in-container').click(function(){
      window.location.pathname = "/users/sign_in"
    })
    // Sign In Button
    $('.sign-in-container').mouseenter(function(){
      var sign_in_logo_in = TweenLite.to($('.sign-in-icon'), 0.3, {transform: 'translateX(-5vw)'});
      var sign_in_text_out = TweenLite.to($('.sign-in'), 0.3, {transform: 'translateX(10vw)'});
    });
    $('.sign-in-container').mouseleave(function(){
      var sign_in_logo_out = TweenLite.to($('.sign-in-icon'), 0.3, {transform: 'translateX(-15vw)'});
      var sign_in_text_in = TweenLite.to($('.sign-in'), 0.3, {transform: 'none'});
    });
    // Sign Up Link
    $('.sign-up-container').click(function(){
      window.location.pathname = "/users/sign_up"
    })
    // Sign In Button
    $('.sign-up-container').mouseenter(function(){
      var sign_up_logo_in = TweenLite.to($('.sign-up-icon'), 0.4, {transform: 'translateX(-5vw)'});
      var sign_up_text_out = TweenLite.to($('.sign-up'), 0.5, {transform: 'translateX(10vw)'});
    });
    $('.sign-up-container').mouseleave(function(){
      var sign_up_logo_out = TweenLite.to($('.sign-up-icon'), 0.4, {transform: 'translateX(-15vw)'});
      var sign_up_text_in = TweenLite.to($('.sign-up'), 0.5, {transform: 'none'});
    });

    // Menu ScrollTo
    $('#section-1-icon').scrollTo({speed: 1000, easing: 'easeOutQuint'});
    $('#section-2-icon').scrollTo({speed: 1000, easing: 'easeOutQuint'});
    $('#section-3-icon').scrollTo({speed: 1000, easing: 'easeOutQuint'});
    $('#section-4-icon').scrollTo({speed: 1000, easing: 'easeOutQuint'});
    $('#section-5-icon').scrollTo({speed: 1000, easing: 'easeOutQuint'});
    $('#arrow').click(function() {
      $('html, body').animate({
          scrollTop: $("#section-1").offset().top
      }, 900);
    });;


    // Fade out arrow 
    var arrow_waypoint = new Waypoint({
      element: $('.landing-container'),
      handler: function(){
      $(window).bind('mousewheel', function(event) {
        if (event.originalEvent.wheelDelta >= 0) {
          $('#arrow').fadeIn("slow");
        }
        else {
          $('#arrow').fadeOut("slow");
          $('.scroll-to-top').addClass("animated fadeInUpBig").removeClass('hide');
        }
      });
      }
    })
    // Changing logo color
    var logo_to_black_inview = new Waypoint.Inview({
      element: $('.icon-container'),
      enter: function(direction) {
        console.log('hi');
        $('#logo').animate({"color":"black", "background-color":"none", "border-color": "none"}, 1500);
      }
    })

    var logo_to_white_inview = new Waypoint.Inview({
      element: $('.icon-container')[0],
      exit: function(direction) {
        console.log('Exit triggered with direction ' + direction)
        $('#logo').animate({"color":"white", "background-color":"rgba(0,0,0,0.2)", "border": "1vh solid white"}, 1000);
      }
    })
    // Scroll to Top
    $('.scroll-to-top').click(function(){
      verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
      element = $('body');
      offset = element.offset();
      offsetTop = offset.top;
      $('html, body').animate({scrollTop: offsetTop}, 600, 'easeOutQuint');
    })
    
    // Snap to container
     $('.snap-window').windows({
        snapping: true,
        snapSpeed: 300,
        snapInterval: 500,
        onScroll: function(scrollPos){
        },
        onSnapComplete: function($el){
        },
        onWindowEnter: function($el){
        }
    })

    // Logo Scrolling
    var logo = $('#logo');
    var body = document.body;
    var html = document.documentElement;
    height = Math.max( body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight);
    $(window).scroll(function(){
      var offset = [$(document).scrollTop()/height] * [$(window).height()*1.3];
      var logoScroll = TweenLite.to(logo, 0.5, {top: offset});
      if($(document).scrollTop() > [$(window).height() + $(window).height()*0.2]){
        logoScroll.pause();
      }
    })
  });
</script>