<div class="profile-wrapper">
  <h3 id="profile-title">{{profileUser.first_name}} {{profileUser.last_name}}</h3>
  <h3 id="profile-title" ng-if="profileUser.role === 'venue'">{{profileUser.venue_name}}</h3>
  <p id="profile-role">{{profileUser.role | ucfirst}}</p>
  <p id="profile-bio">{{profileUser.biography}}</p>

  <h4 id="profile-link" ng-if="profileUser.role === 'artist'"><a ng-href="/shori/gallery/{{profileUser.id}}">GALLERY</a></h4>
  <h4 id="profile-link"><a ng-href="/shori/venue/{{profileUser.id}}" ng-if="profileUser.role === 'venue'">VENUE VIEW</a></h4>

  <p>This person is following {{profileUserFollowingsCount}} peeps</p>

  <div ng-repeat="follower in profileUserFollowings" ng-if="follower.role === 'artist'">
    <a ng-href="users/{{follower.id}}">{{follower.first_name}} {{follower.last_name}}</a>
  </div>

  <p ng-repeat="follower in profileUserFollowings" ng-if="follower.role === 'venue'"><a ng-href="users/{{follower.id}}">{{follower.venue_name}}</a></p>


  <div ng-if="currentUserId === profileUserId">
    <h3>My Upcoming Pacts</h3>
    <div ng-repeat="pact in currentVenuePacts" ng-if="currentVenuePacts.length > 0">
      <p>Start: {{pact.start_date | date}}</p>
      <p>End: {{pact.end_date | date}}</p>
    </div>
    <div ng-repeat="pact in currentArtistPacts" ng-if="currentArtistPacts.length > 0">
      <p>Start: {{pact.start_date | date}}</p>
      <p>End: {{pact.end_date | date}}</p>
    </div>
  </div>

  <!-- Follow & Message Buttons -->
  <div ng-if="currentUserId != profileUserId">
    <button class="hvr-reveal" ng-click="unfollowMe(); unmakeAFollowing()" ng-if="!follow">Unfollow</button>
    <button class="hvr-reveal" ng-click="followMe(); makeAFollowing()" ng-show="follow">Follow</button>
    <button class="hvr-reveal" ng-click="openMessageBox()">Message</button>
  </div>
</div>




<div ng-controller="PactController" ng-if="currentUserId != profileUserId">
<div ng-controller="RightController">
<section layout="row" flex>
  <md-content flex class="md-padding">
    <div layout="column" layout-fill layout-align="top center">
        <md-button ng-click="toggleRight()"
          class="md-primary">Create A Pact</md-button>
    </div>
  </md-content>
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
    <md-toolbar class="md-theme-light">
      <h3 class="md-toolba-tools">Pact Details</h3>
    </md-toolbar>
    <md-content ng-controller="RightCtrl" class="md-padding">
      <form name="pactForm" novalidate>
        Start Date: <input type="text" name="startDate" ng-model="newPact.startDate" pick-a-date="date" placeholder="Select Date"><br/>
        
        End Date: <input type="text" name="endDate"  ng-model="newPact.endDate" pick-a-date="date" placeholder="Select Date"><br/>

        <table class="pact-artpiece-table">
          <tr class="properties">
            <th>Select</th>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Insured</th>
          </tr>
          <tr class="artpiece" ng-repeat="art in profileUserArtpieces">
            <td><input type="checkbox" checklist-model="newPact.art" checklist-value="art.id"></td>
            <td><img-wit ng-src="{{art.image | trusted}}" w="50"></img-wit></td>
            <td>{{ art.name }}</td>
            <td>{{ art.price | currency:"£"}}</td>
            <td>{{ art.insurance}}</td>
          </tr>
        </table>
        <input type="button" ng-click="checkAll()" value="Check All" />
        <input type="button" ng-click="uncheckAll()" value="Uncheck All" /><br/>

        <input type="button" ng-click="reset()" value="Reset" />
        <input type="submit" ng-click="makePact(newPact)" value="Make Pact" />
      </form>
      <md-button ng-click="close()" class="md-primary">Close</md-button>
    </md-content>
  </md-sidenav>
</section>
</div>
